.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.left-content {
  display: flex;
  flex-direction: row; 
  align-items: center; 
}

.tisso-vison {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  margin-left: 10px; /* Add some space between texts */
}

.findtheideal {
  font-size: 18px;
  color: #000;
  text-align: center; /* Center the text */
  
}

.choose_gift {
  background-color: #fff444;
  border: none;
  cursor: pointer;
  text-align: center;
  height: 44px;
  min-width: 150px;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 16px;
  color: #000;
  margin-left: 70px; /* Add some space */
}

.choose_gift:hover {
  background-color: #ff4444;
  color: #ffffff;
  transform: scale(1.05);
}

@media only screen and (max-width: 768px) {
  .header-row {
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 0;
    text-align: center;
  }

  .left-content {
    /* Align items to flex-start for smaller screens */
    align-items: flex-start; 
    flex-direction: column; /* Stack elements vertically */
  }

  .tisso-vison {
    text-align: left; /* Align text to the left */
    width: 100%; /* Make sure text occupies full width */
  }
  .findtheideal {
    text-align: center; /* Align text to the left */
    width: 100%; 
  }

  .choose_gift {
    margin: 40px auto 0; 
  }
}